/* you may need to experiment with the "position" property for your scroll bar */
/* your scroll bar and the fill inside will be styled separately */

/* Eric Meyer Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Start of my CSS implementation */

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
}

.container {
  width: 100%;
  height: 1000vh;
  color: white;
}

#sec-1 {
  background-color: #177e98;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-2 {
  background-color: #e62ae3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-3 {
  background-color: #67cf69;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-4 {
  background-color: #e24b4b;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-5 {
  background-color: #bf4be3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-6 {
  background-color: #4be3d4;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-7 {
  background-color: #dfef00;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-8 {
  background-color: #ffa126;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-9 {
  background-color: #044383;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sec-10 {
  background-color: #9e386d;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-progress {
  width: 0;
  background: hsla(197, 100%, 63%, 1);
  background: linear-gradient(0deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  background: -moz-linear-gradient(0deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  background: -webkit-linear-gradient(0deg, hsla(197, 100%, 63%, 1) 0%, hsla(294, 100%, 55%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#40C9FF", endColorstr="#E81CFF", GradientType=1 );
  height: 3vh;
  position: fixed;
  top: 0;
  left: 0;
}
